//colors
$white: #FFFFFF;
$card-grey: #F5F5F5;
$button-bg: #EEEEEE;
$logo-grey: #939393;
$secondary-text: #8F95A5;
$button-color: #546269;
$menu-color: #39515E;
$dark-color: #263238;
$black: #000000;
//other
$transition: 0.4s cubic-bezier(.54, .25, .81, .59);
