<header class="header">
  <div class="header__wrapper">
    <a href="../index.html" class="header__logo">
      Brit<span class="header__accent">lex</span>
    </a>
  </div>
  <ul class="header__list">
    <li class="header__item">
      <a href="../index.html" class="header__link">Home</a>
    </li>
    <li class="header__item">
      <a href="#skills" class="header__link">Skills</a>
    </li>
    <li class="header__item">
      <a href="#about" class="header__link">About Us</a>
    </li>
    <li class="header__item">
      <a href="#pricing" class="header__link">Pricing</a>
    </li>
    <li class="header__item">
      <a href="#contact" class="header__link">Contacts</a>
    </li>
  </ul>
</header>
